html, body {
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    html {
      filter: invert(0) !important;
      background-color: #fff !important;
      color: #000 !important;
    }
}